<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>'智慧型動力模組雲端服務平台'</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/index.css"/>
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendor/counter-up/jquery.counterup.min.js"></script>

  </head>
  <body>
    <header class="header"><a class="header__icon icon" href="#"><img class="icon__img" src="/images/Design/USER.png"/>
        <label class="icon__text">帳戶</label></a><img class="header__line" src="/images/Design/LINE.png"/><a class="header__icon icon" href="#"><img class="icon__img" src="/images/Design/EXIT.png"/>
        <label class="icon__text">離開</label></a></header>
    <main class="content">
      <aside class="aside">
        <header class="aside__header"></header>
        <article class="aside__content content">
          <ul class="content__list list">
            <li class="list__element">工廠1</li>
            <li class="list__element list__element--select">工廠2</li>
          </ul>
        </article>
      </aside>
      <section class="main">
        <header class="main__header"></header>
        <section class="main__machine machine" id='sensors-containter'>
          <!-- car 1-->


        </section>
        <section class="main__logo logo"></section>
      </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/predictor.js"></script>

<!-- lightbox -->
<div style="display: none">
  <iframe id="light-box-content" width="1420px" height="450px" src="" class="content__element--iframe"></iframe>
</div>
<section class="lightbox">
  <section class="lightbox__content content">
      
    </iframe>
  </section>

</section>
  <div id='sensenr-card-template' style="display: none;">
    <article id="0000" class="machine__content content">
      <header id="content-header" class="content__header header content__header--green">
        <label class="header__title">ID：Loading...</label>
        <label id="content-title" class="header__number">Loading...</label>
      </header>
      <section class="content__status status"><img class="status__img" src="/images/Design/MACHINE.png"/>
        <label id="content-status-text" class="status__text status__text--gray">狀態：Loading...</label>
      </section>

      <section class="content__title title">
        <label class="title__text title__text--left">稼動律(日)</label>
        <label class="title__text">機器運行(日)</label>
      </section>
      <section class="content__data data">
        <section class="data__canvas canvas">
          <canvas class="canvas__pie" role="img"></canvas>
        </section><img class="data__legend" src="/images/Design/LE.png"/>
        <section class="data__execute execute">
          <section class="execute__green green">
            <label class="green__text">開機</label>
          </section>
          <section class="execute__red red">
            <label class="red__text">關閉</label>
          </section>
        </section>
      </section>
      <section class="content__sensor__data status">
        <label id="content-raw-data-text" class="status__text" style="font-size:0.5em;color:gray">Loading...
        </label>
      </section>      
      <!--

      -->        
      <section id="content-problem-section" class="content__problem problem content__problem--active"><img class="problem__img" src="/images/Design/MOTOR_Failure.png"/>
        <label id="content-problem-section-health" class="problem__health">健康：馬達偏心</label>
        <label id="content-problem-section-status" class="problem__status">狀態：嚴重</label>
      </section>

    </article>
  </div>
  </body>
</html>
